@charset "UTF-8";

body {
    background-color: hsl(218, 22%, 67%) ;
}
main {
    margin: auto;
    max-width: 780px;
}
h1 {
    color: hsl(179, 62%, 43%);
}
h2 {
    color: white;
}
.numero_1 {
    color: rgb(151, 216, 20);
    font-size: 18px;
    font-weight: bold;
}
.numero_2 {
    margin-left: 18px;
}
.section_1 {
    padding: 20px 40px;
    background-color: white;
    height: 200px;
    min-width: 700px;
    margin: auto;
    margin-top: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.section_2 {
    padding: 20px 40px;
    background-color: #21a3a1;
    min-width: 290px;
    height: 280px;
    display: inline-block;
    margin: auto;
    color: white;
    border-bottom-left-radius: 10px;
}
.section_3 {
    padding: 20px 40px;
    background-color: #2BB3B1;
    min-width: 330px;
    height: 280px;
    border-bottom-right-radius: 10px;
    display: inline-block;
    position: relative;
    left: 370px;
    bottom: 320px;
    margin: auto;
    color: white;
}
p {
    line-height: 30px;
    font-size: 18px;
}
strong {
    font-size: 40px;
}
button {
    border-radius: 5px;
    background-color: yellowgreen;
    color: white;
    padding: 10px;
    text-align: center;
    width: 250px;
    height: 50px;
    position: relative;
    top: 20px;
    font-size: 18px;
    border: 1px solid yellowgreen;
}
button:hover {
    color: #10d4ba;
    cursor: pointer;
    transition-duration: 1s;
    background-color: tomato;
    font-size: 20px;
}
@media screen and (min-width: 1000px) {
     
    main {
       margin: auto;
    }
}
@media screen and (max-width: 910px) {
     
     main {
        margin: auto;
     }
}
@media screen and (min-width: 870px) {
    .section_2, .section_3 {
       margin: 0 auto;
       text-align: center; 
   }
}
@media screen and (max-width: 830px) {
    .section_1 {
       float: left;
   }
}
@media screen and (max-width: 750px) {
    .section_2{
       display: block;
       width: 100%;
       flex-direction: column;
       margin: auto;
   }
}
@media screen and (max-width: 400px) {
    .section_3{
       display: block;
       text-align: center;
       max-width: 100%;
       position: relative;
       top: 300px;
       margin: auto;
   }
}


